<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Bitter: Twitter...but Bitter</title>
    <link rel="stylesheet" href="css/bitter.css">
</head>

<body>

	<h1> LANDING PAGE FOR {{username}} </h1>


    <div id="main-content">

    </div>

</body>

</html>
