<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Bitter: Twitter...but Bitter</title>

  <link href="bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="css/flat-ui.css" rel="stylesheet">
  <link rel="stylesheet" href="css/bitter.css">

</head>

<body>

  <div class="big-ol-body-wrapper">

    <!-- Logo -->
    <div class="masthead-logo">
      <h1> <span class="B"> B</span>itter </h1>
      <small> Twitter...Except with a B </small>
    </div>

    {% if success %}
    <div class="success-message alert alert-success alert-dismissable">
      <strong>Oh wow</strong> You discovered how to sign up. Hopefully you don't have alzheimers and can log in as {{username}} 
    </div>
    {% endif %}

    <div class="error-dialogue">
    {% for error in errorList %}
      <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error!</strong> {{error}}
      </div>
    {% endfor %}
    </div>

    <!-- Login Box -->
    <div class="login-container">
      <div class="login-form">
        <div class="login-content">
          <form id="login-form" method="POST">

            <div class="form-group {% if login_name_error %}has-error{% endif %}">
              <input type="text" class="form-control login-field" value="" placeholder="Username" name="login-name" id="login-name" />
              <label class="login-field-icon fui-user" for="login-name"></label>
            </div>

            <div class="form-group {% if login_pass_error %}has-error{% endif %}">
              <input type="password" class="form-control login-field" value="" placeholder="Password" name="login-pass" id="login-pass" />
              <label class="login-field-icon fui-lock" for="login-pass"></label>
            </div>

            <input type="submit" name="post-submit" class="btn btn-primary btn-lg btn-block" value="Login">
            
          </form>

          <a class="login-link signup-link" href="#">Don't have an account? Sign Up</a>

        </div>
      </div>
    </div>

    <!-- Sign Up Box -->
    <div class="signup-container">
      <div class="signup-form">
        <form id="signup-form" method="POST">

          <!-- Enter Username -->
          <div class="form-group user-name {% if user_name_error %}has-error{% endif %}">
            <input type="text" class="form-control login-field" value="" placeholder="Username" name="user-name" id="user-name" />
            <label class="login-field-icon fui-user" for="user-name"></label>
          </div>

          <!-- Enter Password -->
          <div class="form-group user-pass {% if user_pass_error %}has-error{% endif %}">
            <input type="password" class="form-control login-field" value="" placeholder="Password" name="user-pass" id="user-pass" />
            <label class="login-field-icon fui-lock" for="user-pass"></label>
          </div>

          <!-- Re Enter Password For Verification -->
          <div class="form-group user-pass2 {% if user_pass2_error %}has-error{% endif %}">
            <input type="password" class="form-control login-field" value="" placeholder="Verify Password" name="user-pass2" id="user-pass2" />
            <label class="login-field-icon fui-lock" for="user-pass2"></label>
          </div>

          <!-- Enter Email -->
          <div class="form-group user-email {% if user_email_error %}has-error{% endif %}">
            <input type="text" class="form-control login-field" value="" placeholder=" Email Address" name="user-email" id="user-email" />
            <label class="login-field-icon fui-mail" for="user-email"></label>
          </div>

          <input type="submit" name="post-submit" class="btn btn-primary btn-lg btn-block" value="Submit">        
        </form>

        <a class="login-link goback-link" href="#">Oh Wait! I actually do have an account</a>

      </div>
    </div>

  </div>

  <!-- Footer -->
  <footer class="bitter-footer">
    <div class="footer-container">
      This is where our copyright would go if we had one.
    </div>
  </footer>

  <span class="{{signup_dominant}}"></span>

  <!-- Scripts -->
  <script src="js/jquery-1.10.2.min.js"></script>
  <script src="js/jquery-ui-1.10.3.custom.min.js"></script>
  <script src="js/bitter-login.js"></script>
  <script src="js/bootstrap.min.js"></script>
</body>

</html>
