<!doctype html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Bitter: Twitter...but Bitter</title>

  <!-- Styles -->
  <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
  <link rel="stylesheet" href="../css/bitter.css">
  <link rel="stylesheet" href="../css/bitter-main.css">

</head>

<body>

 <div class="big-ol-body-wrapper">

  <div class="body-content">

    <!-- Top Navigation Bar -->
    <div class="navbar navbar-default" role="navgiation">
      <div class="navbar-header">
        <a href="#" class="navbar-brand"><span class = "B">B</span>itter</a>
      </div>

      <ul class="nav navbar-nav navbar-right">
        {% if loggedIn %}<li><a href="/logout">Logout</a></li>{% endif %}
        <li><a href="#">About</a></li>
        <li><a href="#">Contact</a></li>
      </ul>

    </div>

    <div class="logindiv">
      <span class="loggedInAs">{{loggedInAs}}</span>
    </div>
    <div class="clear"></div>

    <!-- Page Heading -->
    <h1 class="page-heading"> {{tagName}}</h1>

    <!-- Posts -->
    <div class="post-container">

      <!-- Tweet Input Form -->
      {% if showInput %}
      <div class="tweet-inp">
        <form method="POST">
          <div class="input-group">
            <input type="text" placeholder="Spiteful message goes here" class="form-control" name="tweet-input">
            <span class="input-group-btn">
              <button type= "submit" class="btn btn-success okbtn">140</button>
            </span>
          </div>
        </form>
      </div>
      {% endif %}

      {% for t in tweets %}
      <div class="tweet">

        <div class="post-image">
          <img src="../images/80x80.gif" class="img-circle">
        </div>

        <div class="post-body">
          <span class="post-username"> {{t.username}} </span>
          <span class="post-date"> {{t.date}} </span>
          <div class="post-details">
          {% autoescape false %}
          {{t.details}}
          {% endautoescape %}
          </div>
        </div>

      </div> <!-- End Tweet -->
      {% endfor %}

    </div> 



  </div>
</div>

<!-- Footer -->
<footer class="bitter-footer">
  <div class="footer-container">
    This is where our copyright would go if we had one.
  </div>
</footer>

<!-- Scripts -->
<script src="../js/jquery-1.10.2.min.js"></script>
<script src="../js/jquery-ui-1.10.3.custom.min.js"></script>
<script src="../js/bitter-main.js"></script>
<script src="../js/bootstrap.min.js"></script>

</body>

</html>