@import url(http://fonts.googleapis.com/css?family=Raleway);
@import url(http://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic);


* {
	-webkit-text-stroke: 1px rgba(0,0,0,0.1)
}

body {
	background: #ECF0F1;
	padding-top: 20px;
}

.navbar {
	font-family: "Raleway";
	margin-bottom: 20px;
}

.masthead-logo {
	position: ;
	background: #7F8C8D;
}

.footer-container {
	color: #ECF0F1;
}

.navbar-brand {
	font-size: 2em;
}

.body-content {
	margin: 0 auto;
	width: 90%;
}

.post-container {
	margin: 0 auto;
	width: 55%;
}

.page-heading {
	font-size: 4em;
	font-family: 'Roboto', sans-serif;
	font-weight: 100;
	text-align: center;
	color: #1ABC9C;
	margin-bottom: 50px;
}

.tweet {
	font-size: 15px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
    height: 80px;
    width: 600px;
    margin-bottom: 50px;
}

.post-image {
    float: left;
    height: inherit;
    width: 20%;
}

.post-body {
    padding-left: 100px;
    padding-right: 10px;
    height: inherit;
}

.post-username {
	text-transform: uppercase;
	color: #3498DB;
	font-size: 15px;
    float: left;
}

.post-date {
	color: #BDC3C7;
	font-size: 12px;
    float: right;
}

.post-details {
	letter-spacing: 1px;
    clear: right;
    padding-top: 10px;
}

a.hashtag:link, a.hashtag:visited {
	color: #1ABC9C;
}

.tweet-inp {
	margin-bottom: 40px;
}

.logindiv {
	float: right;
}

.clear {
	clear: both;
}

.loggedInAs {
	color: #1ABC9C;
}