@import url(http://fonts.googleapis.com/css?family=Raleway);

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

body > .big-ol-body-wrapper {
    height: auto;
    min-height: 100%;
}

.nav-item {
    font-family: Helvetica, serif;
    font-size: 1.5em;
    text-transform: uppercase;
    margin-right: 1.2em;
    line-height: 2em;
}

#mast-head {
    text-align: center;

}

body {
    background: #7F8C8D;
}

.login-content {
    display: none;
}

.masthead-logo {
    text-align: center;
}

.masthead-logo > h1 {
    font-family: 'Raleway', sans-serif;
    font-size: 7em;
    margin-bottom: -30px;
    color: #ECF0F1;
}

.B {
    color: #1ABC9C;
}

.masthead-logo > small {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5em;
    color: #BDC3C7;
}

.login-container {
    width: 100%;
    margin-top: 2%;
    display: none;
}

.login-form {
    margin: 0 auto;
}

.signup-container {
    width: 100%;
    margin-top: 2%;
    display: none;
}

.signup-form {
  width: 500px;
  height: 350px;
  margin: 0 auto;
  background-color: #edeff1;
  position: relative;
  border-radius: 6px;
  padding: 10px 10px 10px 10px;
  -webkit-box-shadow: 0px 0px 52px 11px rgba(128,128,128,1);
  -moz-box-shadow: 0px 0px 52px 11px rgba(128,128,128,1);
  box-shadow: 0px 0px 52px 11px rgba(128,128,128,1);
}

.signup-form .control-group {
  margin-bottom: 6px;
  position: relative;
}

.signup-form .login-field {
  border-color: transparent;
  font-size: 17px;
  text-indent: 3px;
}

.signup-form .login-field:focus {
  border-color: #1abc9c;
}

.signup-form .login-field:focus + .login-field-icon {
  color: #1abc9c;
}

.signup-form .login-field-icon {
  color: #bfc9ca;
  font-size: 16px;
  position: absolute;
  right: 13px;
  top: 9px;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.big-ol-body-wrapper {
    padding-bottom: 6em;
}

.bitter-footer {
  font-family: "Raleway";
  clear: both;
  position: relative;
  height: 5em;
  margin-top: -5em;
  z-index: 10;
  background: #1E1D1E;
  padding:20px 10px 10px 10px;
  text-align: center;
}

.error-dialogue, .success-message {
  width: 500px;
  margin: 0 auto;
}

.main-container {
  min-height: 5em;
  background: #edeff1;
}